body {
  font-family: "Ultima", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  background: #d3c6da;
  background: -moz-linear-gradient(left, #d3c6da 0%, #f8cad5 100%);
  background: -webkit-linear-gradient(left, #d3c6da 0%, #f8cad5 100%);
  background: -o-linear-gradient(left, #d3c6da 0%, #f8cad5 100%);
  background: -ms-linear-gradient(left, #d3c6da 0%, #f8cad5 100%);
  background: linear-gradient(to right, #d3c6da 0%, #f8cad5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3c6da', endColorstr='#f8cad5', GradientType=1 ); }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

h1 {
  font-size: 60px;
  font-weight: bold; }

header {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%; }
  header nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    z-index: 99999; }
    header nav .logo {
      display: flex;
      width: 30%;
      height: 100%;
      padding: 20px; }
      header nav .logo img {
        height: 75px; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      align-items: center;
      height: 100%; }
      header nav ul li {
        list-style-type: none; }
        header nav ul li a {
          color: black;
          font-size: 21px;
          padding: 0px 40px; }
    header nav .wrapper_menu_btn {
      display: flex;
      align-items: center;
      justify-content: center; }
  header .lang_and_soc {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0px;
    border: 1px solid red;
    display: flex;
    z-index: 99999; }

.hamburger .line {
  width: 50px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger:hover {
  cursor: pointer; }

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px; }

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s; }

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px); }

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(90deg);
  -ms-transform: translateY(-9px) rotate(90deg);
  -o-transform: translateY(-9px) rotate(90deg);
  transform: translateY(-9px) rotate(90deg); }

.spot1 {
  height: 100vmin;
  width: 100vmin;
  top: -17%;
  left: -10%;
  position: absolute;
  animation: move_spot_one 10s linear infinite; }

.spot2 {
  height: 40vmin;
  width: 40vmin;
  position: absolute;
  right: 12%;
  top: 11%;
  animation: move_spot_two 20s linear infinite; }

.spot3 {
  height: 60vmin;
  width: 60vmin;
  position: absolute;
  right: 30%;
  bottom: 2%;
  animation: move_spot_three 20s linear infinite; }

.spot4 {
  height: 100vmin;
  width: 100vmin;
  position: absolute;
  left: 50%;
  top: 2%;
  animation: move_spot_four 20s linear infinite; }

@keyframes move_spot_one {
  0% {
    left: 50%;
    bottom: 2%; }
  50% {
    left: 10%;
    bottom: 80%; }
  100% {
    left: 50%;
    bottom: 2%; } }
@keyframes move_spot_one {
  0% {
    top: -17%;
    left: -10%; }
  50% {
    top: 20%;
    left: 0%; }
  100% {
    top: -17%;
    left: -10%; } }
@keyframes move_spot_two {
  0% {
    top: 11%;
    right: 12%; }
  50% {
    top: 70%;
    right: 42%; }
  100% {
    top: 11%;
    right: 12%; } }
@keyframes move_spot_three {
  0% {
    bottom: 2%;
    right: 30%; }
  50% {
    bottom: 70%;
    right: 60%; }
  100% {
    bottom: 2%;
    right: 30%; } }
@keyframes move {
  0% {
    transform: translateX(0px) translateY(0px);
    animation-timing-function: cubic-bezier(0.15, 0.95, 0.7, 0.34); }
  10% {
    transform: translateX(6px) translateY(2px);
    animation-timing-function: cubic-bezier(0.75, 0.08, 0.42, 0.73); }
  20% {
    transform: translateX(11px) translateY(-10px);
    animation-timing-function: cubic-bezier(0.75, 0.08, 0.25, 0.29); }
  30% {
    transform: translateX(5px) translateY(-5px);
    animation-timing-function: cubic-bezier(0.31, 0.86, 0.93, 0.24); }
  40% {
    transform: translateX(6px) translateY(2px);
    animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76); }
  50% {
    transform: translateX(-2px) translateY(8px);
    animation-timing-function: cubic-bezier(0.73, 0.02, 0.7, 0.31); }
  60% {
    transform: translateX(10px) translateY(15px);
    animation-timing-function: cubic-bezier(0.73, 0.02, 0, 0.75); }
  70% {
    transform: translateX(0px) translateY(4px);
    animation-timing-function: cubic-bezier(0.39, 0.63, 0.39, 0.81); }
  80% {
    transform: translateX(4px) translateY(-1px);
    animation-timing-function: cubic-bezier(0.39, 0.63, 0.85, 0.6); }
  90% {
    transform: translateX(0px) translateY(0px);
    animation-timing-function: cubic-bezier(0.59, 0.08, 0.05, 0.83); }
  100% {
    transform: translateX(1px) translateY(2px);
    animation-timing-function: cubic-bezier(0.21, 0.77, 0.47, 0.75); } }
@keyframes move_one {
  0% {
    transform: translateX(4px) translateY(9px);
    animation-timing-function: cubic-bezier(0.15, 0.4, 0.5, 0.48); }
  10% {
    transform: translateX(1px) translateY(5px);
    animation-timing-function: cubic-bezier(0.48, 0.12, 0.94, 0.4); }
  20% {
    transform: translateX(15px) translateY(-10px);
    animation-timing-function: cubic-bezier(0.22, 0.12, 0.55, 0.3); }
  30% {
    transform: translateX(22px) translateY(-45px);
    animation-timing-function: cubic-bezier(0.52, 0.77, 0.08, 0.3); }
  40% {
    transform: translateX(16px) translateY(12px);
    animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76); }
  50% {
    transform: translateX(-12px) translateY(18px);
    animation-timing-function: cubic-bezier(0.22, 0.46, 0.12, 0.9); }
  60% {
    transform: translateX(20px) translateY(12px);
    animation-timing-function: cubic-bezier(0.22, 0.01, 0.9, 0.15); }
  70% {
    transform: translateX(10px) translateY(14px);
    animation-timing-function: cubic-bezier(0.95, 0.33, 0.6, 0.4); }
  80% {
    transform: translateX(14px) translateY(-11px);
    animation-timing-function: cubic-bezier(0.41, 0.23, 0.67, 0.9); }
  90% {
    transform: translateX(10px) translateY(10px);
    animation-timing-function: cubic-bezier(0.15, 0.77, 0.15, 0.01); }
  100% {
    transform: translateX(11px) translateY(12px);
    animation-timing-function: cubic-bezier(0.9, 0.4, 0.12, 0.8); } }
@keyframes move_two {
  0% {
    transform: translateX(10px) translateY(15px);
    animation-timing-function: cubic-bezier(0.15, 0.4, 0.5, 0.48); }
  10% {
    transform: translateX(5px) translateY(17px);
    animation-timing-function: cubic-bezier(0.48, 0.12, 0.94, 0.4); }
  20% {
    transform: translateX(10px) translateY(-10px);
    animation-timing-function: cubic-bezier(0.22, 0.12, 0.55, 0.3); }
  30% {
    transform: translateX(3px) translateY(-15px);
    animation-timing-function: cubic-bezier(0.52, 0.77, 0.08, 0.3); }
  40% {
    transform: translateX(26px) translateY(22px);
    animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76); }
  50% {
    transform: translateX(-22px) translateY(28px);
    animation-timing-function: cubic-bezier(0.22, 0.46, 0.12, 0.9); }
  60% {
    transform: translateX(30px) translateY(22px);
    animation-timing-function: cubic-bezier(0.22, 0.01, 0.9, 0.15); }
  70% {
    transform: translateX(20px) translateY(34px);
    animation-timing-function: cubic-bezier(0.95, 0.33, 0.6, 0.4); }
  80% {
    transform: translateX(24px) translateY(-21px);
    animation-timing-function: cubic-bezier(0.41, 0.23, 0.67, 0.9); }
  90% {
    transform: translateX(20px) translateY(20px);
    animation-timing-function: cubic-bezier(0.15, 0.77, 0.15, 0.01); }
  100% {
    transform: translateX(21px) translateY(22px);
    animation-timing-function: cubic-bezier(0.9, 0.4, 0.12, 0.8); } }
@keyframes move_four {
  0% {
    transform: translateX(0px) translateY(0px);
    animation-timing-function: cubic-bezier(0.15, 0.95, 0.7, 0.34); }
  10% {
    transform: translateX(6px) translateY(2px);
    animation-timing-function: cubic-bezier(0.75, 0.08, 0.42, 0.73); }
  20% {
    transform: translateX(11px) translateY(-10px);
    animation-timing-function: cubic-bezier(0.75, 0.08, 0.25, 0.29); }
  30% {
    transform: translateX(5px) translateY(-5px);
    animation-timing-function: cubic-bezier(0.31, 0.86, 0.93, 0.24); }
  40% {
    transform: translateX(6px) translateY(2px);
    animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76); }
  50% {
    transform: translateX(-2px) translateY(8px);
    animation-timing-function: cubic-bezier(0.73, 0.02, 0.7, 0.31); }
  60% {
    transform: translateX(10px) translateY(15px);
    animation-timing-function: cubic-bezier(0.73, 0.02, 0, 0.75); }
  70% {
    transform: translateX(0px) translateY(4px);
    animation-timing-function: cubic-bezier(0.39, 0.63, 0.39, 0.81); }
  80% {
    transform: translateX(4px) translateY(-1px);
    animation-timing-function: cubic-bezier(0.39, 0.63, 0.85, 0.6); }
  90% {
    transform: translateX(0px) translateY(0px);
    animation-timing-function: cubic-bezier(0.59, 0.08, 0.05, 0.83); }
  100% {
    transform: translateX(1px) translateY(2px);
    animation-timing-function: cubic-bezier(0.21, 0.77, 0.47, 0.75); } }
#my-mask-1 circle {
  animation: move 15s linear infinite; }

#my-mask-2 circle {
  animation: move_one 15s linear infinite; }

#my-mask-3 circle {
  animation: move_two 15s linear infinite; }

#my-mask-4 circle {
  animation: move_four 15s linear infinite; }

#my-mask-1 circle:nth-of-type(1) {
  animation-delay: 0s; }
#my-mask-1 circle:nth-of-type(2) {
  animation-delay: -0.5s; }
#my-mask-1 circle:nth-of-type(3) {
  animation-delay: -1s; }
#my-mask-1 circle:nth-of-type(4) {
  animation-delay: -1.5s; }
#my-mask-1 circle:nth-of-type(5) {
  animation-delay: -2s; }
#my-mask-1 circle:nth-of-type(6) {
  animation-delay: -2.5s; }
#my-mask-1 circle:nth-of-type(7) {
  animation-delay: -3s; }

#my-mask-2 circle:nth-of-type(1) {
  animation-delay: 0s; }
#my-mask-2 circle:nth-of-type(2) {
  animation-delay: -0.5s; }
#my-mask-2 circle:nth-of-type(3) {
  animation-delay: -1s; }
#my-mask-2 circle:nth-of-type(4) {
  animation-delay: -1.5s; }
#my-mask-2 circle:nth-of-type(5) {
  animation-delay: -2s; }
#my-mask-2 circle:nth-of-type(6) {
  animation-delay: -2.5s; }
#my-mask-2 circle:nth-of-type(7) {
  animation-delay: -3s; }

#my-mask-3 circle:nth-of-type(1) {
  animation-delay: 0s; }
#my-mask-3 circle:nth-of-type(2) {
  animation-delay: -0.5s; }
#my-mask-3 circle:nth-of-type(3) {
  animation-delay: -1s; }
#my-mask-3 circle:nth-of-type(4) {
  animation-delay: -1.5s; }
#my-mask-3 circle:nth-of-type(5) {
  animation-delay: -2s; }
#my-mask-3 circle:nth-of-type(6) {
  animation-delay: -2.5s; }
#my-mask-3 circle:nth-of-type(7) {
  animation-delay: -3s; }

/*# sourceMappingURL=main.css.map */
